{% extends "layout.html" %}
{% block body %}
    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                        aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="/static/images/logo.png" alt="Logo"
                                                       style="max-height: 44px"></a>
                <a class="navbar-brand hidden" href="./"><img src="/static/images/logo.png" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{% url 'web-app:dashboard' %}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <h3 class="menu-title">Management</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Bike Docks</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-user"></i><a href="{% url 'web-app:all-docks' %}">All Bike Docks</a>
                            </li>
                            <li><i class="fa fa-user"></i><a href={% url 'web-app:add-dock' %}>Add Bike Dock</a></li>
                            <li><i class="fa fa-user"></i><a href={% url 'web-app:allocations' %}>Allocate Dock</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false"> <i class="menu-icon fa fa-user"></i>Staff</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-user"></i><a href="{% url 'web-app:all-staff' %}">All Staff</a></li>
                            <li><i class="fa fa-user"></i><a href={% url 'web-app:add-staff' %}>Add Staff</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false"> <i class="menu-icon fa fa-user"></i>Users</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="{% url 'web-app:all-users' %}">All Users</a></li>
                            <li><i class="fa fa-table"></i><a href={% url 'web-app:add-user' %}>Add User</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Bikes</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="{% url 'web-app:all-bikes' %}">All Bikes</a></li>
                            <li><i class="fa fa-table"></i><a href={% url 'web-app:add-bike' %}>Add Bike</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href={% url 'web-app:subscriptions' %}> <i class="menu-icon ti-agenda"></i>Subscriptions </a>
                    </li>
                    <li>
                        <a href={% url 'web-app:campaigns' %}> <i class="menu-icon ti-calendar"></i>Campaigns </a>
                    </li>

                    <h3 class="menu-title">Rides</h3><!-- /.menu-title -->
                    <li>
                        <a href={% url 'web-app:ratings' %}> <i class="menu-icon ti-bar-chart"></i>Ratings </a>
                    </li>
                      <li>
                        <a href={% url 'web-app:rides' %}> <i class="menu-icon ti-bar-chart"></i>Requests traffic </a>
                    </li>
                    <h3 class="menu-title">Insights</h3><!-- /.menu-title -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->
    {% block element %}
    {% endblock %}
{% endblock %}