{% extends "webapp/dashboard.html" %}

{% block element %}

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Users</a></li>
                        <li class="active">Add User</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">


            <div class="row">

                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <strong>New Staff Details</strong>
                        </div>
                        <div class="card-body card-block">
                            <form action="{% url 'web-app:add-user' %}" method="post" enctype="multipart/form-data"
                                  class="form-horizontal">
                                {% csrf_token %}
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="Dock Name" class=" form-control-label">Username</label>
                                    </div>
                                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="username"
                                                                        placeholder="Name" class="form-control">
                                        <small class="form-text text-muted">username</small>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="Email"
                                                                     class=" form-control-label">Email</label></div>
                                    <div class="col-12 col-md-9"><input type="email" id="email-input" name="email"
                                                                        placeholder="User email"
                                                                        class="form-control">
                                        <small class="form-text text-muted">Email</small>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="Dock Name" class=" form-control-label">Phone
                                        Number</label>
                                    </div>
                                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="phone_number"
                                                                        placeholder="Phone Number" class="form-control">
                                        <small class="form-text text-muted">Phone Number</small>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="password-input" class=" form-control-label">Password</label>
                                    </div>
                                    <div class="col-12 col-md-9"><input type="password" id="password-input"
                                                                        name="password" placeholder="Password"
                                                                        class="form-control">
                                        <small class="help-block form-text">Please enter a complex password</small>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>


            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->

{% endblock %}

{% block scripts %}
{% endblock %}