{% extends "webapp/dashboard.html" %}

{% block element %}


    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Bike Docks</a></li>
                        <li class="active">Add Bike Dock</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">


            <div class="row">

                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <strong>New Dock Details</strong>
                        </div>
                        <div class="card-body card-block">
                            <form action="{% url 'web-app:add-dock' %}" method="post" enctype="multipart/form-data"
                                  class="form-horizontal">
                                {% csrf_token %}
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="Dock Name" class=" form-control-label">Dock
                                        Name</label></div>
                                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="name"
                                                                        placeholder="Dock Name" class="form-control">
                                        <small class="form-text text-muted">Name to identify dock</small>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="Location" class=" form-control-label">Dock
                                        Location</label></div>
                                    <div class="col-12 col-md-9"><input type="text" id="email-input" name="location"
                                                                        placeholder="Enter Dock LOcation"
                                                                        class="form-control">
                                        <small class="form-text text-muted">Dock location</small>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="Dock Name" class=" form-control-label">Latitude</label>
                                    </div>
                                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="lat"
                                                                        placeholder="Latitude" class="form-control">
                                        <small class="form-text text-muted">Latitude location</small>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="Dock Name" class=" form-control-label">Longitude</label>
                                    </div>
                                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="lng"
                                                                        placeholder="Longitude" class="form-control">
                                        <small class="form-text text-muted">Longitude Location</small>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>


            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->

{% endblock %}

{% block scripts %}
{% endblock %}
