{% extends "webapp/dashboard.html" %}

{% block element %}


    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Bikes</a></li>
                        <li class="active">Add Bike</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">


            <div class="row">

                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <strong>New Bike Details</strong>
                        </div>
                        <div class="card-body card-block">
                            <form action="{% url 'web-app:add-bike' %}" method="post" enctype="multipart/form-data"
                                  class="form-horizontal">
                                {% csrf_token %}
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="Dock Name" class=" form-control-label">Bike
                                        Number</label></div>
                                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="bike_number"
                                                                        placeholder="Bike Number" class="form-control">
                                        <small class="form-text text-muted">Unique number to identify bike</small>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="Location" class=" form-control-label">Bike
                                        Status</label></div>
                                    <div class="col-12 col-md-9"><input type="text" id="email-input" name="bike_status"
                                                                        placeholder="Bike Status"
                                                                        class="form-control">
                                        <small class="form-text text-muted">Bike Status</small>
                                    </div>
                                </div>

                                <div class="row form-group">
                                <div class="col col-md-3"><label for="Location" class=" form-control-label">Bike Type</label></div>
                                    <div class="card-body">

                                        <select data-placeholder="Bike Type" class="standardSelect"
                                                tabindex="1" name="bike_type">
                                            {% for type in biketypes %}
                                                <option value="{{ type.id }}">{{ type.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>


            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->

{% endblock %}

{% block scripts %}
{% endblock %}
