{% extends "webapp/dashboard.html" %}

{% block element %}
    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>All Docks</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Bike Docks</a></li>
                            <li class="active">All bike docks</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Bike Docks</strong>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Dock Number</th>
                                        <th scope="col">Dock Name</th>
                                        <th scope="col">Dock Location</th>
                                        <th scope="col">Latitude</th>
                                        <th scope="col">Longitude</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for dock in bikedocks %}
                                        <tr>
                                            <th scope="row">{{ dock.id }}</th>
                                            <td>{{ dock.name }}</td>
                                            <td>{{ dock.location }} </td>
                                            <td>{{ dock.lat }}</td>
                                            <td> {{ dock.lng }} </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->

{% endblock %}

{% block scripts %}
{% endblock %}