{% extends "webapp/dashboard.html" %}

{% block element %}

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">


    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="{% url 'web-app:subscriptions' %}">Campaigns</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">


            <div class="row">

                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <strong>New Campaign</strong>
                        </div>
                        <div class="card-body card-block">
                            <form action="{% url 'web-app:campaigns' %}" method="post"
                                  enctype="multipart/form-data"
                                  class="form-horizontal">
                                {% csrf_token %}
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="Dock Name"
                                                                     class=" form-control-label">Title</label>
                                    </div>
                                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="title"
                                                                        placeholder="Title" class="form-control">
                                        <small class="form-text text-muted">Campaign Title</small>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="Email"
                                                                     class=" form-control-label">Description</label>
                                    </div>
                                    <div class="col-12 col-md-9"><input type="text" id="email-input" name="description"
                                                                        placeholder="Description"
                                                                        class="form-control">
                                        <small class="form-text text-muted">Campaign Description</small>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="file-input" class=" form-control-label">Campaign
                                        Image File</label></div>
                                    <div class="col-12 col-md-9"><input type="file" id="file-input" name="image"
                                                                        class="form-control-file"></div>
                                </div>

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>


            </div><!-- .animated -->
              <div class="animated fadeIn">
                <div class="row">

                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Campaigns</strong>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">End date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for campaign in campaigns %}
                                        <tr>
                                            <th scope="row">{{ campaign.id }}</th>
                                            <td>{{ campaign.title }}</td>
                                            <td>{{ campaign.description }} </td>
                                            <td>{{ campaign.end_date }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- .animated -->
        </div><!-- .content -->

    </div><!-- /#right-panel -->

{% endblock %}

{% block scripts %}
    <script src="/static/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/static/assets/js/popper.min.js"></script>
    <script src="/static/assets/js/plugins.js"></script>
    <script src="/static/assets/js/main.js"></script>
{% endblock %}