{% extends "webapp/dashboard.html" %}

{% block element %}

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">


    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="{% url 'web-app:subscriptions' %}">Dock Allocations</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">


            <div class="row">

                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <strong>Allocate Bike Dock</strong>
                        </div>
                        <div class="card-body card-block">
                            <form action="{% url 'web-app:allocations' %}" method="post"
                                  enctype="multipart/form-data"
                                  class="form-horizontal">
                                {% csrf_token %}
                                <div class="row form-group">
                                    <select data-placeholder="Choose a User" class="standardSelect" tabindex="1"
                                            name="user">
                                        {% for user in users %}
                                            <option value="{{ user }}">{{ user.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="row form-group">
                                    <select data-placeholder="Bike Dock" class="standardSelect" tabindex="1"
                                            name="bike_dock">
                                        {% for bikedock in bikedocks %}
                                            <option value="{{ bikedock }}">{{ bikedock.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="row form-group">
                                    <select data-placeholder="Allocated by" class="standardSelect" tabindex="1"
                                            name="allocated_by">
                                        {% for user in users %}
                                            <option value="{{ user }}">{{ user.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>


            </div><!-- .animated -->
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Dock Allocations</strong>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">User</th>
                                        <th scope="col">Bike Dock</th>
                                        <th scope="col">Allocated By</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for allocation in allocations %}
                                        <tr>
                                            <th scope="row">{{ allocation.id }}</th>
                                            <td>{{ allocation.user }}</td>
                                            <td>{{ allocation.bike_dock }} </td>
                                            <td>{{ allocation.allocated_by }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- .animated -->
        </div><!-- .content -->

    </div><!-- /#right-panel -->

{% endblock %}

{% block scripts %}
{% endblock %}