{% extends "webapp/dashboard.html" %}

{% block element %}
    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Ratings</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-xl-3 col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i
                                            class="ti-layout-grid2 text-warning border-warning"></i></div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">Average Rating</div>
                                        {% if average == None %}
                                            <div class="stat-digit">0</div>
                                        {% else %}
                                            <div class="stat-digit">{{ average }}</div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i
                                            class="ti-layout-grid2 text-warning border-warning"></i></div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">Total Ratings</div>
                                        {% if count == None %}
                                            <div class="stat-digit">0</div>
                                        {% else %}
                                            <div class="stat-digit">{{ count }}</div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i
                                            class="ti-layout-grid2 text-warning border-warning"></i></div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">Ratings with Reviews</div>
                                        {% if reviews_count == None %}
                                            <div class="stat-digit">0</div>
                                        {% else %}
                                            <div class="stat-digit">{{ reviews_count }}</div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animated fadeIn">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h4 class="card-title mb-0">Ratings</h4>
                                    <div class="small text-muted">{{ now.month  }}/{{ now.year }}</div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-8 hidden-sm-down">
                                    <button type="button" class="btn btn-primary float-right bg-flat-color-1"><i
                                            class="fa fa-cloud-download"></i></button>
                                    <div class="btn-toolbar float-right" role="toolbar"
                                         aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-3" data-toggle="buttons" aria-label="First group">

                                            <label class="btn btn-outline-secondary active">
                                                <input type="radio" name="options" id="option2" checked=""> Month
                                            </label>

                                        </div>
                                    </div>
                                </div><!--/.col-->


                            </div><!--/.row-->
                            <div class="chart-wrapper mt-4"/>
                            <canvas id="trafficChart2" style="height:200px;" height="200"></canvas>
                        </div>

                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>

        </div><!-- .content -->
    </div><!-- /#right-panel -->

    <!-- Right Panel -->

{% endblock %}

{% block scripts %}
    <script src="/static/assets/js/dashboard.js"></script>
    <script src="/static/assets/js/widgets.js"></script>
    <script src="/static/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="/static/assets/js/plugins.js"></script>
    <script src="/static/assets/js/main.js"></script>


    <script src="/static/assets/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="/static/assets/js/dashboard.js"></script>

    <script>
        (function ($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);
    </script>
    <script type="text/javascript">
        (function ($) {
            "use strict";


// const brandPrimary = '#20a8d8'
            const brandSuccess = '#4dbd74'
            const brandInfo = '#63c2de'
            const brandDanger = '#f86c6b'

            function convertHex(hex, opacity) {
                hex = hex.replace('#', '')
                const r = parseInt(hex.substring(0, 2), 16)
                const g = parseInt(hex.substring(2, 4), 16)
                const b = parseInt(hex.substring(4, 6), 16)

                const result = 'rgba(' + r + ',' + g + ',' + b + ',' + opacity / 100 + ')'
                return result
            }

            function random(min, max) {
                return Math.floor(Math.random() * (max - min + 1) + min)
            }

            //Traffic Chart
            var ctx = document.getElementById("trafficChart2");
            //ctx.height = 200;
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['M', 'T', 'W', 'T', 'F', 'S', 'S', 'M', 'T', 'W', 'T', 'F', 'S', 'S', 'M', 'T', 'W', 'T', 'F', 'S', 'S', 'M', 'T', 'W', 'T', 'F', 'S', 'S'],
                    datasets: [
                        {
                            label: 'My First dataset',
                            backgroundColor: convertHex(brandInfo, 10),
                            borderColor: brandInfo,
                            pointHoverBackgroundColor: '#fff',
                            borderWidth: 2,
                            data: {{ thirty_day_ratings }}
                        }
                    ]
                },
                options: {
                    //   maintainAspectRatio: true,
                    //   legend: {
                    //     display: false
                    // },
                    // scales: {
                    //     xAxes: [{
                    //       display: false,
                    //       categoryPercentage: 1,
                    //       barPercentage: 0.5
                    //     }],
                    //     yAxes: [ {
                    //         display: false
                    //     } ]
                    // }


                    maintainAspectRatio: true,
                    legend: {
                        display: false
                    },
                    responsive: true,
                    scales: {
                        xAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                maxTicksLimit: 5,
                                stepSize: Math.ceil(1),
                                max: 5
                            },
                            gridLines: {
                                display: true
                            }
                        }]
                    },
                    elements: {
                        point: {
                            radius: 0,
                            hitRadius: 10,
                            hoverRadius: 4,
                            hoverBorderWidth: 3
                        }
                    }


                }
            });


        })(jQuery);
    </script>
{% endblock %}