{% extends "webapp/dashboard.html" %}

{% block element %}

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">


    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="{% url 'web-app:subscriptions' %}">Subscriptions</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">


            <div class="row">

                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <strong>New Subscription</strong>
                        </div>
                        <div class="card-body card-block">
                            <form action="{% url 'web-app:subscriptions' %}" method="post"
                                  enctype="multipart/form-data"
                                  class="form-horizontal">
                                {% csrf_token %}
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="Dock Name"
                                                                     class=" form-control-label">Name</label>
                                    </div>
                                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="name"
                                                                        placeholder="Name" class="form-control">
                                        <small class="form-text text-muted">Subscription name</small>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="Email"
                                                                     class=" form-control-label">Price plan</label>
                                    </div>
                                    <div class="col-12 col-md-9"><input type="text" id="email-input" name="price_plan"
                                                                        placeholder="400 KES per month"
                                                                        class="form-control">
                                        <small class="form-text text-muted">Price plan</small>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="Description" class=" form-control-label">Description</label>
                                    </div>
                                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="description"
                                                                        placeholder="Description" class="form-control">
                                        <small class="form-text text-muted">Plan description</small>
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>


            </div><!-- .animated -->
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Subscriptions</strong>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price Plan Name</th>
                                        <th scope="col">Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for subscription in subscriptions %}
                                        <tr>
                                            <th scope="row">{{ subscription.id }}</th>
                                            <td>{{ subscription.name }}</td>
                                            <td>{{ subscription.price_plan }} </td>
                                            <td>{{ subscription.description }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->

{% endblock %}

{% block scripts %}
{% endblock %}